<div class="hdt-pr-information-item">
  {% content_for "blocks" %}
</div>
{% schema %}
  {
    "name": "Product info item",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "text"
      },
      {
        "type": "text_custom"
      }
    ],
    "presets": [
      {
        "name": "Product info item",
        "settings": {
        }
      }
    ]
  }
{% endschema %}