<hdt-accordion class="hdt-contents">
  <details class="hdt-widget hdt-widget-html" aria-expanded="false" open>
    {%- if block.settings.widget_heading != blank -%}
      <summary class="hdt-widget-title hdt-s-text hdt-flex hdt-align-center hdt-justify-between hdt-text-xl hdt-font-semibold">
        <span>{{ block.settings.widget_heading }}</span>
        <span accordion-icon>
          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none"><path d="M11 5.5L5.5 6.55868e-08L-6.55868e-08 5.5L0.97625 6.47625L5.5 1.9525L10.0238 6.47625L11 5.5Z" fill="currentColor"/></svg>
        </span>
      </summary>
    {%- endif -%}
    <div class="hdt-widget-content">
      <div class="hdt-raw-html hdt-rte--list" id="b_{{ block.id }}">{{ block.settings.html_content }}</div>
    </div>
  </details>
</hdt-accordion>
{% schema %}
  {
    "name": "t:sections.main-collection.blocks.html.name",
    "tag": null,
    "settings": [
      {
        "type": "text",
        "id": "widget_heading",
        "label": "t:sections.main-collection.blocks.heading",
        "default": "Talk about your brand"
      },
      {
        "type": "html",
        "id": "html_content",
        "label": "t:sections.main-collection.blocks.html.html_content",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-collection.blocks.html.name"
      }
    ]
  }
{% endschema %}
