<!-- blocks/_testimonial_item.liquid -->
<div class="hdt-slider__slide hdt-testimonial-item">
 <div class="testimonial-inner">
   {%-liquid
     case section.settings.ter_des
      when '3' or '6'
        render 'quote_2', block: block
      when '4'
        render 'quote_3', block: block
      else 
        render 'quote_1', block: block
     endcase
   -%}
 </div>
</div>
{% schema %}
  {
    "name": "Testimonial",
    "tag": null,
    "settings": [
      {
        "type": "image_picker",
        "id": "image_avata",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Author",
        "default": "Author's name",
      },
      {
        "type": "text",
        "id": "pos",
        "label": "Position"
      },
      {
        "type": "range",
        "id": "rating",
        "min": 0,
        "max": 5,
        "step": 0.5,
        "label": "Rating",
        "default": 5,
        "info": "Set less than '1' to disable Rating."
      },
    ],
    "presets": [
      {
        "name": "Testimonial"
      }
    ]
  }
{% endschema %}
